<%= form_for(@post) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class='field'>
    <%= f.text_field :title, placeholder: "optional tile hereski" %>
    <%= f.text_area :content, placeholder: "search your feelings" %>
  </div>
  <%= f.submit "Bloggo!", class: "btn btn-primary" %>
<% end %>